.headSection{
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;

    grid-column-start: 1;
    grid-column-end: 6;
}
.headSection h1{
    font-family: 'Playfair Display', serif;
}

.search input, button{
    border: 1px solid blueviolet;
    border-radius: 3px;
    padding:3px;
    margin: 2px;
}

.search button:hover{
    box-shadow:2px 2px rebeccapurple;
}

.headSection aside img{
    height: 10vh;
}