nav{
    /* border:2px solid yellow; */
    background-color: antiquewhite;

    padding:0 5vw;
    border-top-right-radius: -50%;
    
    grid-column: 1/ span 1;
    
}
nav ul{
    /* background-color: antiquewhite; */
    margin: 0;
    padding: 0;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

nav ul li{
    list-style: none inside;
    padding: 0;
    margin-bottom: 2vh;
}
nav ul li a:focus{
    color: rgb(22, 222, 28);
}
nav ul li:hover{
   text-decoration: underline;
}

nav ul li a{
    text-decoration: none;
    color: rgb(2, 12, 28);
}


/* dark theme implemeted form here  */

nav.darkTheme{
    background-color:rgb(28, 24, 24);
    color: white;
}

nav.darkTheme ul li a{
    text-decoration: none;
    color:#e2e2e2;
}
nav.darkTheme ul li a:focus{
    color: rgb(22, 222, 28);
}


/* media query for navigation section  */

@media only screen and (max-width: 700px) {
    nav{
        
        border-top: 2px solid rgb(94, 52, 52);
        grid-column: 1/ span 5;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        justify-content: space-around;

        height: auto;
    }

    nav ul li{
        margin: 5px;
    }
}